@charset "UTF-8"; /*
// - - - - - - - - - - - - - - - - - - - - - - -
// MARATONA TECH - TEMPLATED - V001
// - - - - - - - - - - - - - - - - - - - - - - -
// a BACK2BASICS
// https://back2basics.com.br
// - - - - - - - - - - - - - - - - - - - - - - -
// deploy > v.00bond a wizardfly
// wizrdfly.rf.gd
// #wf-202202221918
// #wf-202204151646
// - - - - - - - - - - - - - - - - - - - - - - -
*/
@media (prefers-color-scheme: dark), (prefers-color-scheme: light) {
    /* -- reset -- */ html, body, div, section, ul, li, a, p, strong, em, h1, h2, h3, nav, img, header, footer, form, fieldset, label, input, i, figure, iframe, select {
        border: 0;
        padding: 0;
        margin: 0;
        list-style: none;
        text-decoration: none;
        outline: 0;
        /*font-family: 'Montserrat', sans-serif;*/
        font-family: 'Roboto', sans-serif;
    }

    body {
        background: #FFFFFF;
    }

    .error {
        color: #fff!important;
        background-color: #bc5228!important;
    }

    .left {
        float: left;
    }

    .right {
        float: right;
    }

    .grid {
        width: 95%;
        max-width: 1180px;
        min-width: 280px;
        margin: 0 auto;
    }

    .section {
        width: 100%;
        float: left;
    }

    .afterClear:after {
        content: '';
        clear: both;
        display: block;
    }

    .btn {
        display: inline-block;
        background: #004acc;
        color: #FFFFFF;
        font-size: 16px;
        line-height: 16px;
        padding: 12px 35px;
        margin: 20px 0 0;
        cursor: pointer;
        border: 1px solid #004acc;
        transition: color 0.4s, background 0.4s;
    }

    .btn:hover, .btn:focus {
        color: #004acc;
        background: none;
    }

    .btn.btnYellow {
        background: #efc062;
        color: #FFFFFF;
        border: 1px solid #efc062;
    }

    .btn.btnYellow:hover, .btn.btnYellow:focus {
        color: #efc062;
        background: none;
    }

    .title {
        font-size: 38px;
        line-height: 40px;
        font-weight: 800;
        color: #343434;
        display: block;
        margin: 0 0 20px;
        font-family: 'Montserrat', sans-serif;
    }

    /* -- whatsapp -- */
    .section.whatsapp {
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 29;
        width: auto;
    }

    .section.whatsapp .grid {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }

    .section.whatsapp a {
        display: block;
        margin: 20px;
        transition: opacity 0.4s;
    }

    .section.whatsapp a:hover, .section.whatsapp a:focus {
        opacity: 0.8;
    }

    .section.whatsapp a img {
        display: block;
    }

    /* -- message -- */
    .section.message {
        position: fixed;
        top: 0;
        left: -100vw;
        z-index: 20;
        height: 100vh;
        text-align: center;
        transition: left .4s, background 0.4s;
    }

    .section.message.errorSend .grid {
        background: rgb(225 95 95 / 75%);
        backdrop-filter: blur(3px);
    }

    .section.message.errorSend h3, .section.message.errorSend p {
        color: #ffffff;
    }

    .section.message.successSend .grid {
        background: rgb(88 204 97 / 75%);
        backdrop-filter: blur(3px);
    }

    .section.message.successSend h3, .section.message.successSend p {
        color: #ffffff;
    }

    .section.message.active {
        left: 0
    }

    .section.message .grid {
        max-width: 100%;
        width: 100%;
        height: 100vh;
    }

    .section.message h3 {
        margin: 0 auto 10px;
        display: block;
        color: #002c43;
        transition: color 0.4s;
        padding: calc(45vh) 0 30px;
    }

    .section.message p {
        font-size: 18px;
        line-height: 18px;
        color: #002c43;
        displawy: block;
        transition: color 0.4s;
    }

    /* -- scroll bar -- */
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #F4F4F4;
    }

    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    /* -- sprites -- */
    .spr {
        display: inline-block;
        background-image: url('../img/spr-gen-01.png');
        background-repeat: no-repeat;
    }

    .spr2 {
        display: inline-block;
        background-image: url('../img/spr-gen-02.png');
        background-repeat: no-repeat;
    }

    .spr.icoArrowDownQuery {
        width: 28px;
        height: 28px;
        background-position: -315px -106px;
    }

    .spr.icoArrowLeftTestimony {
        width: 24px;
        height: 43px;
        background-position: -259px -106px;
    }

    .spr.icoArrowRightTestimony {
        width: 24px;
        height: 43px;
        background-position: -287px -106px;
    }

    .spr.icoBarQuery {
        width: 958px;
        height: 9px;
        background-position: -177px -2px;
    }

    .spr.icoBarSchool {
        width: 399px;
        height: 9px;
        background-position: -678px -15px;
    }

    .spr.icoBarStudent {
        width: 399px;
        height: 9px;
        background-position: -678px -28px;
    }

    .spr.icoBarTestimony {
        width: 399px;
        height: 9px;
        background-position: -678px -41px;
    }

    .spr.icoBgBox {
        width: 171px;
        height: 100px;
        background-position: -2px -2px;
    }

    .spr.icoBrand01 {
        width: 98px;
        height: 52px;
        background-position: -78px -186px;
    }

    .spr.icoBrand02 {
        width: 134px;
        height: 48px;
        background-position: -540px -15px;
    }

    .spr.icoBrand03 {
        width: 94px;
        height: 52px;
        background-position: -180px -186px;
    }

    .spr.icoBrand04 {
        width: 63px;
        height: 57px;
        background-position: -141px -266px;
    }

    .spr.icoBrand05 {
        width: 66px;
        height: 58px;
        background-position: -71px -266px;
    }

    .spr.icoBrand06 {
        width: 173px;
        height: 50px;
        background-position: -363px -15px;
    }

    .spr.icoBrand07 {
        width: 182px;
        height: 59px;
        background-position: -177px -15px;
    }

    .spr.icoBrand08 {
        width: 65px;
        height: 63px;
        background-position: -2px -266px;
    }

    .spr2.icoBrand08Up {
        width: 68px;
        height: 63px;
        background-position: 0 0;
    }

    .spr.icoBrand09 {
        width: 111px;
        height: 51px;
        background-position: -82px -106px;
    }

    .spr.icoEmail {
        width: 27px;
        height: 19px;
        background-position: -177px -78px;
    }

    .spr.icoMenu {
        width: 58px;
        height: 48px;
        background-position: -197px -106px;
    }

    .spr.icoSchool {
        width: 76px;
        height: 76px;
        background-position: -2px -106px;
    }

    .spr.icoSocialFace {
        width: 54px;
        height: 54px;
        background-position: -208px -266px;
    }

    .spr.icoSocialInst {
        width: 54px;
        height: 54px;
        background-position: -324px -266px;
    }

    .spr.icoSocialYout {
        width: 54px;
        height: 54px;
        background-position: -266px -266px;
    }

    .spr.icoSocialLink {
        width: 54px;
        height: 54px;
        background-image: url('../img/spr-link-01.png');
        background-position: 0 0;
    }

    .spr.icoStudent {
        width: 72px;
        height: 76px;
        background-position: -2px -186px;
    }

    .spr.icoUser {
        width: 21px;
        height: 24px;
        background-position: -347px -106px;
    }

    /* -- header -- */
    .section.header {
        padding: 20px 0;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 5;
        pointer-events: none;
        transition: all 0.4s;
    }

    .section.header.fixed {
        background: rgb(0 0 0 / 25%);
        backdrop-filter: blur(5px);
        padding: 10px 0;
    }

    .section.header.rmvEffects {
        background: none !important;
        backdrop-filter: unset !important;
    }

    .section.header .grid {
        max-width: 100%;
    }

    .section.header .brand {
        float: left;
        display: block;
        position: relative;
        z-index: 7;
        margin: 5px 0 0;
        pointer-events: all;
    }

    .section.header.fixed .brand {
        margin: 0;
    }

    .section.header .brand img {
        display: block;
        height: 75px;
        transition: height 0.4s, opacity 0.4s;
        pointer-events: none;
    }

    .section.header.fixed .brand img {
        height: 45px;
    }

    .section.header .brand:hover img, .section.header .brand:focus img {
        opacity: 0.75;
    }

    .section.header .brand img:nth-child(2) {
        display: none;
    }

    .section.header.fixed .brand img:nth-child(1) {
        display: none;
    }

    .section.header.fixed .brand img:nth-child(2) {
        display: block;
    }

    .section.header .btnMenu {
        float: right;
        display: block;
        position: relative;
        z-index: 7;
        pointer-events: all;
    }

    .section.header .btnMenu:hover, .section.header .btnMenu:focus {
        opacity: 0.75;
    }

    .section.header .btnMenu i {
        pointer-events: none;
    }

    .section.header.fixed .btnMenu i {
        filter: brightness(0) invert(1);
    }

    .section.header.fixed .btnMenu i.spr.icoMenu {
        width: 40px;
        height: 40px;
        background-size: 833px;
        background-position: -145px -75px;
    }

    .section.header .menu {
        width: 100%;
        position: absolute;
        top: -100vh;
        left: 0;
        transition: top 0.4s;
        background: rgb(0 0 0 / 25%);
        backdrop-filter: blur(5px);
        height: calc(100vh - 112px);
        padding: 112px 0 0;
        z-index: 6;
        pointer-events: all;
    }

    .section.header .menu.active {
        top: 0;
    }

    .section.header .menu .grid {
        max-width: 1180px;
    }

    .section.header .menu ul {
        font-size: 0;
        height: calc(100vh - 112px);
        overflow: auto;
    }

    .section.header .menu ul li {
        display: inline-block;
    }

    .section.header .menu ul li a {
        display: inline-block;
        padding: 12px;
        margin: 5px;
    }

    /* -- video -- */
    .section.video {
        background: url('../img/bg-video.jpg') no-repeat top center / cover #363636;
        padding: 135px 0 110px;
    }

    .section.video .grid {
    }

    .section.video .left {
        width: 49%;
        text-align: center;
        color: #FFFFFF;
    }

    .section.video .left iframe {
        width: 100%;
    }

    .section.video .left img {
        width: 100%;
        max-width: 561px;
        margin: 0 auto;
        display: block;
        box-shadow: -6px 6px 20px rgb(0 0 0 / 40%);
    }

    .section.video .right {
        width: 49%;
        text-align: right;
    }

    .section.video .right .title {
        color: #FFFFFF;
        text-transform: uppercase;
        margin-top: 9vw;
    }

    .section.video .right .title b {
        color: #004acc;
        display: block;
        font-weight: 800;
    }

    .section.video .right p {
        color: #FFFFFF;
        font-size: 15px;
        line-height: 17px;
        display: block;
    }

    /* -- about -- */
    .section.about {
        background: url('../img/bg-about.jpg') no-repeat center / cover #363636;
        padding: 30px 0 0;
    }

    .section.about .grid {
        position: relative;
    }

    .section.about .left {
        width: 45%;
        text-align: right;
        padding: 80px 0;
    }

    .section.about .left .title {
        color: #FFFFFF;
    }

    .section.about .left .title b {
        color: #58cc60;
        display: block;
        font-weight: 800;
    }

    .section.about .left p {
        color: #FFFFFF;
        font-size: 15px;
        line-height: 17px;
    }

    .section.about .left p strong {
        color: #58cc60;
        font-size: 30px;
        line-height: 33px;
        display: block;
        margin: 20px 0 0;
        font-weight: 800;
        font-family: 'Montserrat', sans-serif;
    }

    .section.about .right {
        width: 45%;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .section.about .right img {
        width: 100%;
        max-width: 381px;
        display: block;
        margin: 0 auto;
    }

    /* -- participate -- */
    .section.participate {
        background: #F4F4F4;
        padding: 65px 0;
    }

    .section.participate .grid {
    }

    .section.participate .title {
        text-align: center;
    }

    .section.participate .list {
        margin: 0 0 35px;
    }

    .section.participate .list li {
        float: left;
        margin: 0.5%;
        width: 24%;
        min-height: 86px;
        position: relative;
        padding: 20px 0px;
        display: table;
    }

    .section.participate .list li:before {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        top: calc(50% - 20px);
        left: 0;
        border-top: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 20px solid #efc062;
        display: block;
    }

    .section.participate .list li:nth-child(odd) {
        background: #004acc;
    }

    .section.participate .list li:nth-child(even) {
        background: #58cc60;
    }

    .section.participate .list li strong {
        display: table-cell;
        color: #FFFFFF;
        font-size: 19px;
        line-height: 20px;
        padding: 0 30px;
        text-transform: uppercase;
        vertical-align: middle;
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
    }

    .section.participate p {
        text-align: center;
        color: #343434;
        font-size: 15px;
        display: block;
        line-height: 17px;
        margin: 0 auto 20px;
        width: 80%;
    }

    .section.participate p b {
        color: #efc062;
        text-transform: uppercase;
    }

    .section.participate p strong {
        display: block;
        font-weight: 800;
        color: #004acc;
        font-size: 30px;
        line-height: 30px;
        margin: 20px 0 0;
        font-family: 'Montserrat', sans-serif;
    }

    .section.participate a.btn {
        width: 110px;
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    /* -- inscription -- */
    .section.inscription {
        background: url('../img/bg-inscription.jpg') no-repeat center / cover #363636;
        padding: 30px 0 0;
    }

    .section.inscription .grid {
        position: relative;
    }

    .section.inscription .left {
        width: 49%;
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .section.inscription .left img {
        width: 90%;
        max-width: 604px;
        display: block;
        margin: 0 auto;
    }

    .section.inscription .right {
        width: 49%;
        padding: 60px 0;
    }

    .section.inscription .right .title {
        color: #FFFFFF;
        margin: 0 0 10px;
    }

    .section.inscription .right p {
        color: #f4f4f4;
        font-size: 14px;
        display: block;
        line-height: 17px;
        margin: 0 0 20px;
    }

    .section.inscription .right label p {
        margin: 0;
    }

    /* -- forms -- */
    form {
    }

    form fieldset {
    }

    form fieldset label {
        border: 1px solid #FFFFFF;
        margin: 4px 3px;
        float: left;
    }

    form fieldset label.none {
        border: 0;
        text-align: left;
    }

    form fieldset label.pNone {
        pointer-events: none;
    }

    form fieldset label.boxOthers {
        display: none;
    }

    form fieldset label.boxOthers.active {
        display: block;
    }

    form fieldset label.box100 {
        width: calc(100% - 8px);
    }

    form fieldset label.box80 {
        width: calc(80% - 8px);
    }

    form fieldset label.box70 {
        width: calc(70% - 8px);
    }

    form fieldset label.box60 {
        width: calc(60% - 8px);
    }

    form fieldset label.box40 {
        width: calc(40% - 8px);
    }

    form fieldset label.box30 {
        width: calc(30% - 8px);
    }

    form fieldset label.box20 {
        width: calc(20% - 8px);
    }

    form fieldset label input[type="text"] {
        background: none;
        width: calc(100% - 10px);
        padding: 8px 5px;
        color: #f4f4f4;
        font-style: italic;
        line-height: 15px;
        font-size: 15px;
        color: #FFFFFF;
    }

    form fieldset label input[type="email"] {
        background: none;
        display: block;
        width: calc(100% - 10px);
        padding: 8px 5px;
        color: #f4f4f4;
        font-style: italic;
        line-height: 15px;
        font-size: 15px;
    }

    form fieldset label input[type="radio"] {
        float: left;
        margin: 10px 0 0;
    }

    form fieldset label select {
        background: none;
        width: 100%;
        padding: 8px 5px;
        font-style: italic;
        line-height: 15px;
        font-size: 13.5px;
        color: #FFFFFF;
        background: #58cc61;
    }

    form fieldset label input[type="submit"] {
        pointer-events: all;
        margin: 0;
        margin: 0 0 15px;
    }

    form fieldset label em {
        color: #f4f4f4;
        font-style: italic;
        font-size: 12px;
        vertical-align: middle;
        float: right;
        width: calc(100% - 20px);
        margin: 10px 0 15px;
    }

    form fieldset label p {
        margin: 20px 0;
        width: 80%;
    }

    form fieldset label p strong {
    }

    form fieldset label p a {
        color: #004acc;
        text-decoration: underline;
    }

    /* -- schedule -- */
    .section.schedule {
        background: url('../img/bg-schedule.jpg') no-repeat top center / cover #363636;
        padding: 80px 0;
        overflow: hidden;
    }

    .section.schedule .grid {
    }

    .section.schedule .title {
        color: #FFFFFF;
        text-align: right;
        margin: 0 0 10px;
    }

    .section.schedule p {
        color: #efc062;
        text-align: right;
        font-size: 15px;
        line-height: 15px;
        display: block;
        font-weight: 700;
    }

    .section.schedule .box {
        position: relative;
        padding: 50px 0;
        width: 90%;
        margin: 30px auto 0;
    }

    .section.schedule .box p {
        color: #FFFFFF;
        text-align: left;
        font-size: 14px;
        line-height: 15px;
        display: block;
        font-weight: normal;
        position: absolute;
        z-index: 1;
        width: 180px;
    }

    .section.schedule .box p strong {
        color: #efc062;
        display: block;
        font-size: 21px;
        line-height: 21px;
        margin: 0 0 3px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
    }

    .section.schedule .box p.info01 {
        top: 5%;
        left: 13%;
        width: 215px;
    }

    .section.schedule .box p.info01 strong {
    }

    .section.schedule .box p.info02 {
        top: 81%;
        left: 20%;
    }

    .section.schedule .box p.info03 {
        top: 5%;
        left: 68%;
    }

    .section.schedule .box p.info04 {
        top: 81%;
        left: 83%;
    }

    .section.schedule .box img {
        width: 100%;
        display: block;
        margin: 0 auto;
    }

    .section.schedule .box img.scheduleMob {
        width: auto;
        max-width: none;
        display: none;
    }

    /* -- notice -- */
    .section.notice {
        background: url('../img/bg-notice.jpg') no-repeat top center / cover #363636;
        padding: 150px 0;
    }

    .section.notice .grid {
    }

    .section.notice .left {
        width: 40%;
        text-align: right;
    }

    .section.notice .right {
        width: 40%;
    }

    .section.notice .right form {
        width: 80%;
    }

    .section.notice .right form fieldset label em {
        color: #343434;
    }

    .section.notice .right form fieldset label input[type="text"], .section.notice .right form fieldset label input[type="email"] {
        background: #004acc;
    }

    .section.notice .left .title {
        color: #FFFFFF;
    }

    .section.notice .left p {
        color: #f4f4f4;
        font-size: 15px;
        display: block;
        line-height: 17px;
    }

    .section.notice .left p strong {
        color: #004acc;
        display: block;
        margin: 20px 0 0;
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        line-height: 30px;
        font-weight: 800;
    }

    /* -- infos -- */
    .section.infos {
        background: url('../img/bg-infos.jpg') no-repeat center / cover #363636;
        padding: 30px 0 0;
    }

    .section.infos .grid {
    }

    .section.infos .left {
        width: 49%;
    }

    .section.infos .left img {
        width: 100%;
        max-width: 405px;
        display: block;
        margin: 0 auto;
    }

    .section.infos .right {
        width: 49%;
        text-align: right;
        padding: 80px 0;
    }

    .section.infos .right .title {
    }

    .section.infos .right p {
        color: #343434;
        display: block;
        margin: 0 0 30px;
        font-size: 15px;
        line-height: 17px;
    }

    .section.infos .right p strong {
        display: block;
        color: #58cc60;
        font-size: 22px;
        line-height: 22px;
        text-transform: uppercase;
        margin: 0 0 5px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
    }

    /* -- testimony -- */
    .section.testimony {
        background: #58CC61;
        padding: 80px 0;
        overflow: hidden;
    }

    .section.testimony .grid {
    }

    .section.testimony .title {
        text-align: center;
        margin: 0 0 40px;
        color: #FFFFFF;
        ;}

    .section.testimony .sldTestimony {
        width: 75%;
        margin: 0 auto;
        position: relative;
    }

    .section.testimony .sldTestimony .owl-stage-outer {
        margin: 0 0 30px;
    }

    .section.testimony .sldTestimony .item {
        overflow: hidden;
    }

    .section.testimony .sldTestimony .item p {
        color: #343434;
    }

    .section.testimony .sldTestimony .item p em {
        height: 160px;
        display: block;
        font-style: normal;
    }

    .section.testimony .sldTestimony .item p strong {
        color: #ffffff;
        margin: 10px 0;
        display: block;
    }

    .section.testimony .sldTestimony .owl-nav {
        position: absolute;
        top: 27%;
        width: 120%;
        left: -10%;
    }

    .section.testimony .sldTestimony .owl-nav button.owl-prev {
        position: absolute;
        top: 0;
        left: 0;
        background: none;
    }

    .section.testimony .sldTestimony .owl-nav button.owl-next {
        position: absolute;
        top: 0;
        right: 0;
        background: none;
        transition: filter 0.4s;
    }

    .section.testimony .sldTestimony .owl-nav button:hover, .section.testimony .sldTestimony .owl-nav button:focus {
        filter: grayscale(100%);
    }

    .section.testimony .sldTestimony .owl-dots {
    }

    .section.testimony .sldTestimony .owl-dots button.owl-dot span {
        background: #81e988;
    }

    .section.testimony .sldTestimony .owl-dots button.owl-dot.active span {
        background: #004acc;
    }

    /* -- sponsors -- */
    .section.sponsors {
        background: url(../img/bg-sponsors.jpg) no-repeat center / cover;
        padding: 80px 0 0;
        overflow: hidden;
    }

    .section.sponsors .grid {
    }

    .section.sponsors .title {
        margin: 0 auto 15px;
        max-width: 958px;
    }

    .section.sponsors .title i {
        display: block;
        margin: 20px 0 0;
    }

    .section.sponsors p {
        display: block;
        margin: 20px 0;
        color: #343434;
        font-weight: 800;
        text-transform: capitalize;
        float: left;
        width: 100%;
    }

    .section.sponsors ul {
        margin: 0 auto 25px;
        max-width: 958px;
        display: block;
        float: left;
        width: 100%;
    }

    .section.sponsors ul li {
        display: inline-block;
        margin: 1%;
        display: table;
        float: left;
        min-width: 150px;
        min-height: 74px;
    }

    .section.sponsors ul li a {
        display: table-cell;
        vertical-align: middle;
        background: #FFFFFF;
        border-radius: 3px;
        padding: 5px;
        transition: border 0.4s;
        pointer-events: none;
        box-shadow: 0 0 10px rgb(0 0 0 / 40%);
        text-align: center;
    }

    .section.sponsors ul li a:hover, .section.sponsors ul li a:focus {
        border-color: #eaeaea;
    }

    .section.sponsors ul li a img {
        width: 100%;
        max-width: 230px;
    }

    .section.sponsors ul li a:hover i, .section.sponsors ul li a:focus i {
        filter: grayscale(100%);
    }

    .section.sponsors ul li a i {
        transition: filter 0.4s;
        vertical-align: middle;
    }

    .section.sponsors .details {
        width: 100%;
        margin: 40px 0 0;
        text-align: center;
        padding: 45px 0;
        background: #58cc60;
        float: left;
    }

    .section.sponsors .details h3 {
        display: block;
        font-size: 15px;
        line-height: 15px;
        color: #FFFFFF;
        font-weight: normal;
    }

    .section.sponsors .details p {
        display: block;
        font-size: 28px;
        line-height: 28px;
        color: #004acc;
        font-weight: 800;
        margin: 10px 0 0;
        font-family: 'Montserrat', sans-serif;
    }

    /* -- query -- */
    .section.query {
        background: url('../img/bg-query.jpg') no-repeat top center / cover #363636;
        padding: 100px 0 40px;
    }

    .section.query .grid {
    }

    .section.query .title {
        color: #FFFFFF;
        margin: 0 auto 20px;
        width: 100%;
        max-width: 958px;
    }

    .section.query ul {
        margin: 0 auto;
        width: 100%;
        max-width: 958px;
        overflow: hidden;
    }

    .section.query ul li {
        width: 100%;
        display: block;
        margin: 0 0 15px;
    }

    .section.query ul li a {
        width: calc(100% - 40px);
        display: block;
        position: relative;
        padding: 0 40px 9px 0;
        color: #efc062;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
    }

    .section.query ul li a i.spr.icoArrowDownQuery {
        position: absolute;
        top: 0;
        right: 0;
        pointer-events: none;
        transition: transform 0.4s;
    }

    .section.query ul li i.spr.icoBarQuery {
        margin: 10px 0 0;
    }

    .section.query ul li p {
        width: 100%;
        margin: 15px 0;
        color: #FFFFFF;
        font-size: 16px;
        line-height: 19px;
        display: none;
    }

    .section.query ul li.active p {
        display: block;
    }

    .section.query ul li.active a i.spr.icoArrowDownQuery {
        transform: rotate(180deg);
    }

    /* -- footer -- */
    .section.footer {
        background: url('../img/colors-line.png') repeat-x bottom left #58CC60;
        padding: 40px 0;
    }

    .section.footer .grid {
    }

    .section.footer .left {
        width: 49%;
    }

    .section.footer .left form {
        float: right;
        width: 57%;
    }

    .section.footer .left form fieldset {
    }

    .section.footer .left form fieldset label {
        background: #004acc;
        border-color: #004acc;
        display: block;
        position: relative;
    }

    .section.footer .left form fieldset label i {
        position: absolute;
        top: 0;
        left: 0;
        margin: 5px;
    }

    .section.footer .left form fieldset label:last-child {
        background: none;
    }

    .section.footer .left form fieldset label i.icoEmail {
        margin: 8px 5px;
    }

    .section.footer .left form fieldset label input[type="text"] {
        width: calc(100% - 45px);
        padding: 8px 5px 8px 40px;
        font-size: 14px;
        line-height: 14px;
    }

    .section.footer .left form fieldset label input[type="email"] {
        width: calc(100% - 45px);
        padding: 8px 5px 8px 40px;
        font-size: 14px;
        line-height: 14px;
    }

    .section.footer .left form fieldset label input[type="submit"] {
        margin: 0;
        padding: 7px 0;
        text-transform: uppercase;
        width: 100%;
        font-size: 15px;
        line-height: 17px;
        color: #58cc60;
    }

    .section.footer .left form fieldset label input[type="submit"]:hover, .section.footer .left form fieldset label input[type="submit"]:focus {
        color: #004acc;
        background: none;
    }

    .section.footer .right {
        width: 49%;
    }

    .section.footer .right .social {
        float: right;
        width: 57%;
    }

    .section.footer .right .social li {
        float: left;
    }

    .section.footer .right .social li a {
        display: block;
        margin: 0 10px 0 0;
        transition: filter 0.4s;
    }

    .section.footer .right .social li a:hover, .section.footer .right .social li a:focus {
        filter: grayscale(100%);
    }

    .section.footer .right .social li a i {
        display: block;
    }

    .section.footer p {
        color: #FFFFFF;
        float: left;
        width: 40%;
        text-align: right;
        font-size: 16px;
        line-height: 18px;
    }

    .section.footer p strong {
        color: #343434;
        display: block;
        font-size: 20px;
        line-height: 20px;
        text-transform: uppercase;
        font-weight: 800;
        font-family: 'Montserrat', sans-serif;
    }

    /* -- footer bar -- */
    .section.footerBar {
        background: #004acd;
        padding: 5px 0 65px;
    }

    .section.footerBar .grid {
    }

    .section.footerBar p {
        margin: 0 auto;
        display: block;
        font-size: 26px;
        color: #FFFFFF;
        line-height: 30px;
        max-width: 958px;
    }

    .section.footerBar p a {
        color: #58cc60;
        font-weight: 800;
        font-family: 'Montserrat', sans-serif;
    }

    .section.footerBar p a:hover, .section.footerBar p a:focus {
        text-decoration: underline;
    }
}

/* -- media -- */
@media screen and (max-width: 980px) {
    .grid {
        width:90%;
    }

    .section.video .left {
        width: 100%;
    }

    .section.video .right {
        width: 100%;
        text-align: center;
    }

    .section.about .left {
        width: 100%;
        text-align: center;
    }

    .section.about .right {
        width: 100%;
        display: none;
    }

    .section.inscription .left {
        width: 100%;
        display: none;
    }

    .section.inscription .right {
        width: 100%;
        text-align: center;
    }

    .section.inscription .right p {
        margin: 0 0 20px;
    }

    .section.inscription .right form {
        width: 80%;
        margin: 0 auto;
    }

    .section.inscription .right form label p {
        width: 100%;
        margin: 20px 0;
    }

    .section.schedule .title {
        text-align: center;
    }

    .section.schedule p {
        text-align: center;
    }

    .section.notice .left {
        width: 100%;
        text-align: center;
        margin: 0 0 30px;
    }

    .section.notice .right {
        width: 100%;
    }

    .section.notice .right form {
        margin: 0 auto;
        text-align: center;
    }

    .section.infos .left {
        width: 100%;
        display: none;
    }

    .section.infos .right {
        width: 100%;
        text-align: center;
    }

    .section.testimony .sldTestimony .item p em {
        height: auto;
    }

    .section.footer .left {
        width: 100%;
        margin: 0 0 30px;
    }

    .section.footer p {
        width: 100%;
        text-align: center;
        margin: 0 0 10px;
    }

    .section.footer .left form {
        width: 80%;
        margin: 0 auto;
        float: none;
    }

    .section.footer .right {
        width: 100%;
    }

    .section.footer .right .social {
        width: 100%;
        text-align: center;
    }

    .section.footer .right .social li {
        float: none;
        display: inline-block;
    }

    .section.header .brand {
        margin: 0;
    }

    .section.header .btnMenu i.spr.icoMenu {
        width: 40px;
        height: 40px;
        background-size: 833px;
        background-position: -145px -75px;
    }

    .section.header .brand img {
        height: 45px;
    }

    .section.participate .list li {
        width: 100%;
        margin: 0 0 15px;
        padding: 10px 0;
    }
}

@media screen and (max-width: 760px) {
    .section.schedule .box p.info02 {
        top: 75%;
        left: 16%;
    }

    .section.schedule .box p.info04 {
        top: 75%;
        left: 73%;
    }
}

@media screen and (max-width: 700px) {
    .section.participate .left {
        width: 100%;
        margin: 0 0 30px;
    }

    .section.participate .right {
        width: 100%;
    }

    .section.participate .box {
        width: 100%;
        margin: 0 auto;
        float: none !important;
    }

    .section.participate .box p {
        height: auto;
    }

    form fieldset label {
        width: calc(100% - 8px) !important;
    }

    .section.inscription .right form {
        width: 100%;
    }

    .section.notice .right form {
        width: 100%;
    }

    .section.testimony .sldTestimony .owl-nav {
        display: none;
    }

    .section.testimony .sldTestimony {
        width: 100%;
    }

    .section.footer .left form {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .section.schedule .box img {
        display:none;
    }

    .section.schedule .box img.scheduleMob {
        display: block;
        margin: 0 auto 40px;
    }

    .section.schedule .box p {
        text-align: center;
    }

    .section.schedule .box p.info01, .section.schedule .box p.info02, .section.schedule .box p.info03, .section.schedule .box p.info04 {
        position: relative;
        top: inherit;
        left: inherit;
        width: 100%;
        display: block;
        margin: 0 0 30px;
    }

    .section.footerBar p {
        font-size: 20px;
        line-height: 25px;
    }

    .section.footerBar p a {
        font-size: 15px;
        display: block;
    }

    .section.footerBar p br {
        display: none;
    }

    .section.sponsors {
        text-align: center;
    }

    .section.sponsors ul li {
        width: 98%;
    }
}

@media screen and (max-width: 500px) {
    .section.header .menu ul li {
        width: 100%;
        margin: 0 0 10px;
    }

    .section.header .menu ul li a {
        width: calc(100% - 34px);
        margin: 0;
    }
}
